@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*-----------------STYLING SCROLLBARS---------------*/
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(0, 74, 170);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
} /*-----------------END OF SCROLLBARS---------------*/

body {
    font-family: "Lato", sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar nav nav nav"
      "sidebar main main main";
    /* grid-gap: 0.2rem; */
}

/*-----------------FOR NAVBARS AT UPPER RIGHT OF CONTAINER---------------*/
.navbar__left {
    margin-top: 10px;
}

.navbar__left > a {
    margin-left: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}
  
.navbar__left .active_link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
} /*-----------------END OF NAV BAR UPPER---------------*/

main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}

.main__container {
    padding: 20px 35px;
}
  
.main__title {
    display: flex;
    align-items: center;
}
  
.main__title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
  
.main__greeting > h1 {
    font-size: 30px;
    color: #2e4a66;
    margin-bottom: 5px;
}   /*---------------HELLO MONTESSORIAN------------*/
  
.main__greeting > p {
    font-size: 20px;
    font-weight: 700;
    color: #6d7072;
}   /*---------------WELCOME TO YOUR DASHBOARD------------*/

/*-----------SIDEBAR STARTS HERE-----------------*/
#sidebar {
    background: rgb(0, 74, 170);
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
  
.sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f4f6;
    margin-bottom: 30px;
}
  
.sidebar__img {
    display: flex;
    align-items: center;
}
  
.sidebar__title > div > img {
    width: 75px;
    object-fit: contain;
}
  
.sidebar__title > div > h1 {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    display: inline;
}   /*------------------"STUDENT RECORD MANAGEMENT SYSTEM"------------*/
  
.sidebar__title > i {
    font-size: 18px;
    display: none;
}
  
.sidebar__menu > h2 {
    color: #83e3dd;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0 10px;
    font-weight: 700;
}   /*------------------"PROCESS"------------*/
  
.sidebar__link {
    color: #f3f4f6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}   /*------------------"ICONS"------------*/
  
.active_menu_link {
    background: #03A89E;
    color: #042b37;
}   /*------------------"BACKGROUND OF ACTIVE PAGE"------------*/
  
.active_menu_link a {
    color: #042b37 !important;
}   /*------------------"FONT OF ACTIVE PAGE"------------*/
  
.sidebar__link > a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 700;
}   /*------------------"TEXT OF SIDEBAR"------------*/
  
.sidebar__link > i {
    margin-right: 10px;
    font-size: 18px;
}
  
.sidebar__logout {
    margin-top: 5px;
    padding: 10px;
    color: #83e3dd;
}
  
.sidebar__logout > a {
    text-decoration: none;
    font-size: 20px;
    color: #83e3dd;
    font-weight: 700;
    text-transform: uppercase;
}
  
.sidebar__logout > i {
    margin-right: 10px;
    font-size: 18px;
}

/*----------------USER----------------*/
.sidebar__user {
    margin-top: 380px;
    padding: 10px;
    color: #83e3dd;
}
  
.sidebar__user > a {
    text-decoration: none;
    font-size: 20px;
    color: #83e3dd;
    font-weight: 700;
    text-transform: uppercase;
}
  
.sidebar__user > i {
    margin-right: 10px;
    font-size: 18px;
}

/*---------------------HOVERS----------------*/
.sidebar__logout:hover {
    background-color: white;
    color: red;
    border-radius: 8px;
    width: 140px;
}

.sidebar__logout:hover > a {
    color: red;
}

.sidebar__link:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
}

.sidebar__link:hover > a {
    color: black;
}



/*-----------------CONTENTS-----------------*/
.back-bttn {
    display: flex;
    position: relative;
    left: 10px;
    top: 10px;
    height: 30px;
}

.back-bttn i {
    position: relative;
    width: 30px;
    top: 3px;
    color: #000000;
}

.back-bttn i:hover {
    color:#265acc;
}

.back-bttn > p {
    font-size: 20px;
    font-weight: bold; 
    color: #2e4a66;
    margin-left: 10px;
}   

hr {
    margin-top: 15px;
}

.data-table  {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif; 
    color:black; 
    width: 74vw;
    font-size: 14px;
    margin-top: 90px;
    background: white;  
    border: 1px solid #000000;
}   /*----------TABLE CONTAINER--------*/

th, td {
    border: 1.5px solid;
    padding: 10px;
    text-align: center;
}   /*----------TABLE HEADER AND DATA--------*/

.tb-headers {
    background-color: #83e3dd;
    color: black;
}

/*-----------------SEARCH BAR-----------------*/
.search-container {
    position: relative;
    top: 20px;
    left: 11px;
    float: right;
}
  
.search-container input[type=text] {
    padding: 6px;
    width: 300px;
    height: 40px;
    font-size: 17px;
    border: none;
}   /*-------SEARCH TEXT BOX------*/
  
.search-container button {
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    height: 40px;
    width: 45px;
    border: none;
    cursor: pointer;
}   /*-------SEARCH ICON------*/
  
.search-container button:hover {
    background: #ccc;
} /*-------HOVER FOR SEARCH ICON------*/

/*-------ACTION BUTTONS------*/
.view-bttn, 
.edit-bttn,
.add-bttn {
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.view-bttn:hover, 
.edit-bttn:hover,
.add-bttn:hover {
    background:gray;
    color: white;
}

.view-bttn {
    background-color: rgb(229, 168, 56);
}

.edit-bttn {
    background-color: gray;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 200px; 
    background-color: rgb(39, 39, 39);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.add-bttn {
    background-color: rgb(0, 74, 170);
}