@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*-----------------STYLING SCROLLBARS---------------*/
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(0, 74, 170);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
} /*-----------------END OF SCROLLBARS---------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------THIS IS FOR THE NAV BAR------------------*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 40px; /*top, bottom, left, right*/
    background-color: rgb(0, 74, 170);
}

.profile-image img {
    margin-top: 5px;
    width: 70px;
    height: 70px;
}

.nav-title {
    color: white;
    margin-left: 20px;
    margin-right: auto;
    font-size: 25px;
}

header li {
    list-style: none;
    display: inline-block;
}

header a {
    color: white;
    font-size: 25px;
    padding: 20px;
}

header a:hover {
    color: yellow;
} /*End of nav bar*/

/*--------------------THIS IS FOR HERO IMAGE----------------------*/
.backgroundimage {
    background-image: url("../images/stud.png");
    width: 100vw;
    height: 86vh; 
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.6;
}  

/*-------------------SIGN UP GUI---------------------*/

.form-container {
    position: absolute;
    left: 460px;
    top: 135px;
    border-style: solid;
    border-width: 1.25px;
    border-radius: 10px;
} /*--------FOR THE WHOLE SIGN UP CONTAINER-----*/

.form-body {
    background-color: white;
    width: 600px;
    padding: 40px;
    border-radius: 10px;
} /*--------INSIDE THE FORM CONTAINER-----*/

.form-body .title {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
    padding-bottom: 30px;
}   /*--------"SIGN UP""-----*/

.the-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}   /*--------TEXT BOXES-----*/

.the-form img {
    cursor: pointer;
    position: absolute;
    bottom: 245px;
    right: 100px;
    width: 20px;
}   /*--------EYE ICON-----*/

.the-form label {
    margin-bottom: 8px;
    margin-left: 30px;
    font-size: 16px;
    color: black;
}   /*--------CSS FOR FORM LABELS-----*/

.the-form [type="email"],
.the-form [type="password"], 
.the-form [type="text"] {
    padding: 15px;
    width: 450px;
    font-size: 16px;
    background: white;
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.06);
    color: #222222;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}   /*--------CSS FOR FORM TYPES-----*/

.the-form #AcctType {
    padding: 15px;
    width: 450px;
    font-size: 16px;
    background: white;
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.06);
    color: #222222;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.the-form [type="email"]::placeholder,
.the-form [type="password"]::placeholder,
.the-form [type="text"]::placeholder {
    color: gray;
}   /*--------CSS FOR FORM PLACEHOLDER-----*/

.the-form [type="email"]:focus,
.the-form [type="password"]:focus,
.the-form [type="text"]:focus,
.the-form #AcctType:focus {
    background: rgba(0, 0, 0, 0.1);
    color: black;
}   /*--------CHANGES THE COLOR OF TEXT BOX TO WHITE WHEN CLICKED-----*/

.the-form [type="submit"] {
    background: rgb(0, 74, 170);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-left: 30px;
    width: 450px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
} /*--------CSS FOR SIGN UP BUTTON-----*/

.the-form [type="submit"]:hover {
    opacity: .8;
}   /*--------CSS FOR LOGIN BUTTON HOVER-----*/

.form-footer div {
    font-family: "Lato", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 18px;
    color: black;
}

.form-footer div a {
    font-family: "Lato", sans-serif;
    color: rgb(0, 74, 170);
}